
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>职工管理</h3>
</div>

<div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->

<div class="row">
    <a asp-action="Create" target="_blank">添加新职工</a>
</div>
<div class="clearfix" style="margin-bottom: 10px;"></div>


<div class="row">

    @Html.Partial("StaffQueryPartial")
</div>
<div class="clearfix" style="margin-bottom: 10px;"></div>
<div class="row">
    <form asp-area="Dev" asp-controller="Staff" asp-action="List"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-loading="#loading"
          data-ajax-loading-duration=1000
          data-ajax-update="#ajaxBody"
          method="get">
        <button type="submit">查看所有职工</button>

    </form>
</div>

<div id="ajaxBody" class="row">

</div>