@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BPMS02.ViewModels.ContractSelectQuery
    <div id="localLoading" class="load" style="display:none">
        <p>查询中...</p>
    </div>
<div class="col-sm-12 col-md-4 col-lg-4">
    <form asp-area="" asp-controller="Contract" asp-action="QueryByNo"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-loading="#loading"
          data-ajax-loading-duration=1000
          data-ajax-update="#ajaxSelectContractBody"
          method="post">
        <label asp-for="No"> </label><input asp-for="No" />
        <button type="submit">按合同编号查询</button>
    </form>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
    <form asp-area="" asp-controller="Contract" asp-action="QueryByName"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-loading="#loading"
          data-ajax-loading-duration=1000
          data-ajax-update="#ajaxSelectContractBody"
          method="post">
        <label asp-for="Name"> </label><input asp-for="Name" />
        <button type="submit">按合同名称查询</button>
    </form>
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
    <form asp-area="" asp-controller="Contract" asp-action="SelectList"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-loading="#localLoading"
          data-ajax-loading-duration=1000
          data-ajax-update="#ajaxSelectContractBody"
          method="get">
        <button type="submit">列出所有合同</button>
    </form>

</div>
