
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model InspectionTypeSelectQuery
<div class="row">
    <form asp-area="" asp-controller="InspectionType" asp-action="List"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-loading="#localLoading"
          data-ajax-loading-duration=1000
          data-ajax-update="#ajaxSelectInspectionTypeBody"
          method="get">
        <button type="submit">查看所有检测类型</button>
    </form>

</div>