@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model BPMS02.ViewModels.StaffSelectQuery

<div class="col-sm-12 col-md-4 col-lg-4">
<form asp-area="" asp-controller="Staff" asp-action="QueryByNo"  
      data-ajax="true"
      data-ajax-mode="replace"
      data-ajax-loading="#loading"
      data-ajax-loading-duration=1000
      data-ajax-update="#ajaxSelectStaffBody" 
      method="post">
    <label asp-for="No"> </label><input asp-for="No" />
    <button type="submit">按工号查询</button>
</form>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
    <form  asp-area="" asp-controller="Staff" asp-action="QueryByName"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-loading="#loading"
          data-ajax-loading-duration=1000
          data-ajax-update="#ajaxSelectStaffBody"
          method="post">
        <label asp-for="Name"> </label><input asp-for="Name" />
        <button type="submit">按姓名查询</button>
    </form>
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
    <form  asp-area="" asp-controller="Staff" asp-action="List"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-loading="#loading"
          data-ajax-loading-duration=1000
          data-ajax-update="#ajaxSelectStaffBody"
          method="get">
        <button type="submit">列出所有职工</button>
    </form>

</div>
