@model CreateProjectViewModel
@{
    ViewData["Title"] = "CreateByContractId";
}
<h2>CreateByContractId</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StandardValue" class="control-label"></label>
                <input asp-for="StandardValue" class="form-control" />
                <span asp-validation-for="StandardValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalcValue" class="control-label"></label>
                <input asp-for="CalcValue" class="form-control" />
                <span asp-validation-for="CalcValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnterProgress" class="control-label"></label>
                <select asp-for="EnterProgress" asp-items="Html.GetEnumSelectList<EnterProgress>()" class="form-control"></select>
                <span asp-validation-for="EnterProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnterDate" class="control-label"></label>
                <input asp-for="EnterDate" class="form-control" />
                <span asp-validation-for="EnterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteProgress" class="control-label"></label>
                <select asp-for="SiteProgress" asp-items="Html.GetEnumSelectList<SiteProgress>()" class="form-control"></select>
                <span asp-validation-for="SiteProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteFinishedDate" class="control-label"></label>
                <input asp-for="SiteFinishedDate" class="form-control" />
                <span asp-validation-for="SiteFinishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExitDate" class="control-label"></label>
                <input asp-for="ExitDate" class="form-control" />
                <span asp-validation-for="ExitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportProgress" class="control-label"></label>
                <select asp-for="ReportProgress" asp-items="Html.GetEnumSelectList<ReportProgress>()" class="form-control"></select>
                <span asp-validation-for="ReportProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportNo" class="control-label"></label>
                <input asp-for="ReportNo" class="form-control" />
                <span asp-validation-for="ReportNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportPublishedDate" class="control-label"></label>
                <input asp-for="ReportPublishedDate" class="form-control" />
                <span asp-validation-for="ReportPublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DelayDays" class="control-label"></label>
                <input asp-for="DelayDays" class="form-control" />
                <span asp-validation-for="DelayDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DelayRate" class="control-label"></label>
                <input asp-for="DelayRate" class="form-control" />
                <span asp-validation-for="DelayRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectProgressExplanation" class="control-label"></label>
                <textarea asp-for="ProjectProgressExplanation" class="form-control" /></textarea>
                <span asp-validation-for="ProjectProgressExplanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractId" class="control-label"></label>
                <input asp-for="ContractId" class="form-control" />
                <span asp-validation-for="ContractId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BridgeId" class="control-label"></label>
                <input asp-for="BridgeId" class="form-control" />
                <span asp-validation-for="BridgeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="创建" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>