
@{
    ViewData["Title"] = "Index";
}
<h2>项目管理</h2>
<div id="contractBody" class="row">
    @Html.Partial("ContractBodyPartial", new ContractBodyViewModel())
</div>

<div id="ajaxProjectBriefBody" class="row">

    <!-- Post /Project/BriefList/ContractId -->
    <!-- View ProjectBriefListPartial -->
</div>

<div id="ajaxProjectStaffProjectBody" class="row">
    <!-- Get  StaffProject/ListByProjectId   -->
    <!-- View ProjectStaffProjectListPartial -->
</div>

