@model BPMS02.Areas.Dev.Models.CreateContractViewModel
@using BPMS02.Areas.Dev.Models

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    //获取id,工号,姓名
    $(document).ready(function () {
        $('#selectAcceptStaffButton').on('click', function () {
            Id = $(":input:radio:checked").map(function () {
                return $(this).parent().siblings('td').eq(0).text();  // 根据checkbox定位到后面的td，然后使用text()函数获取内容
            }).get();   // 获取内容数组并拼接为字符串

            No = $(":input:radio:checked").map(function () {
                return $(this).parent().siblings('td').eq(2).text();
            }).get();

            Name = $(":input:radio:checked").map(function () {
                return $(this).parent().siblings('td').eq(3).text();
            }).get();


            $("#AcceptStaffId").attr("value", $.trim(Id));
            //alert($("#staff_id").val());


            $("#AcceptStaffName").attr("value", Name);
            //alert($("#staff_name").val());
            console.log(Id)
            console.log(No)
            console.log(Name)

        });
    });

    $(document).ready(function () {
        $('#selectStaffButton').on('click', function () {

            var item = $(":button.btn.btn-primary").attr("data-whatever");

            Id = $(":input:radio:checked").map(function () {
                return $(this).parent().siblings('td').eq(0).text();  // 根据checkbox定位到后面的td，然后使用text()函数获取内容
            }).get();   // 获取内容数组并拼接为字符串

            No = $(":input:radio:checked").map(function () {
                return $(this).parent().siblings('td').eq(2).text();
            }).get();

            Name = $(":input:radio:checked").map(function () {
                return $(this).parent().siblings('td').eq(3).text();
            }).get();

            var itemId
            var itemName

            if (item == 'selectAcceptStaffButton')
            { 
                itemId = "#AcceptStaffId";
                itemName = "#AcceptStaffName";
            }
            else { 
                itemId = "#ResponseStaffId";
                itemName = "#ResponseStaffName";
            } 

            console.log(itemId)
            console.log(itemName)


            $(itemId).attr("value", $.trim(Id));

            $(itemName).attr("value", Name);

        });
    });



</script>

<!-- /.modal -->
<script>
    //修改Id
    $(function () {
        $('#popup_id').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)

            console.log(recipient)  //调试
            console.log($(":button.btn.btn-primary").attr("data-whatever"))    //before

            modal.find(':button.btn.btn-primary').attr("data-whatever", recipient)

            console.log($(":button.btn.btn-primary").attr("data-whatever"))
        })
    });
</script>

<h2>添加合同</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="No" class="control-label"></label>
                <input asp-for="No" class="form-control" />
                <span asp-validation-for="No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignedDate" class="control-label"></label>
                <input asp-for="SignedDate" class="form-control" />
                <span asp-validation-for="SignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromisedDeadline" class="control-label"></label>
                <input asp-for="PromisedDeadline" class="form-control" />
                <span asp-validation-for="PromisedDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobContent" class="control-label"></label>
                <input asp-for="JobContent" class="form-control" />
                <span asp-validation-for="JobContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectLocation" class="control-label"></label>
                <input asp-for="ProjectLocation" class="form-control" />
                <span asp-validation-for="ProjectLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                <input asp-for="Client" class="form-control" />
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientContactPerson" class="control-label"></label>
                <input asp-for="ClientContactPerson" class="form-control" />
                <span asp-validation-for="ClientContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientContactPersonPhone" class="control-label"></label>
                <input asp-for="ClientContactPersonPhone" class="form-control" />
                <span asp-validation-for="ClientContactPersonPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptWay" class="control-label"></label>
                <select asp-for="AcceptWay" asp-items="Html.GetEnumSelectList<AcceptWay>()" class="form-control"></select>
                <span asp-validation-for="AcceptWay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignStatus" class="control-label"></label>
                <select asp-for="SignStatus" asp-items="Html.GetEnumSelectList<SignStatus>()" class="form-control"></select>
                <span asp-validation-for="SignStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AcceptStaffId" class="control-label"></label>
                <input asp-for="AcceptStaffId" type="hidden" class="form-control" />
                <input id="AcceptStaffButton" type="button" data-toggle="modal" data-target="#popup_id" data-whatever="selectAcceptStaffButton" value="选择合同承接人" />
                <span asp-validation-for="AcceptStaffId" class="text-danger"></span>
                <label asp-for="AcceptStaffName" class="control-label"></label>
                <input asp-for="AcceptStaffName" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ResponseStaffId" class="control-label"></label>
                <input asp-for="ResponseStaffId" type="hidden" class="form-control" />
                <input id="ResponseStaffButton" type="button" data-toggle="modal" data-target="#popup_id" data-whatever="ResponseStaffButton" value="选择合同负责人" />
                <span asp-validation-for="ResponseStaffId" class="text-danger"></span>
                <label asp-for="ResponseStaffName" class="control-label"></label>
                <input asp-for="ResponseStaffName" readonly />
            </div>

            <div class="form-group">
                <input type="submit" value="添加" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal fade" id="popup_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">请选择职工</h4>

            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        @Html.Partial("StaffSelectQueryPartial")
                    </div>
                    <div id="ajaxSelectStaffBody" class="row">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="display: inline-block">
                    <button id="selectStaffButton" class="btn btn-primary" data-dismiss="modal" data-whatever="">选择</button>
                </div>
                <div style="display: inline-block">
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>


        </div>
    </div>
</div>