
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>合同管理</h3>
</div>

<div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->

<div class="row">
    <a asp-action="Create" target="_blank">添加新合同</a>
</div>
<div class="clearfix" style="margin-bottom: 10px;"></div>

<div class="row">
    @Html.Partial("ContractQueryPartial")
</div>
<div class="clearfix" style="margin-bottom: 10px;"></div>

<div class="row">
    <form asp-area="Dev" asp-controller="Contract" asp-action="List"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-loading="#loading"
          data-ajax-loading-duration=1000
          data-ajax-update="#ajaxContractBody"
          method="get">
        <button type="submit">查看所有合同</button>
    </form>
</div>

<div id="ajaxContractBody" class="row">

</div>
